body {
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  opacity: 1;
}

#slideshow-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.slideshow-img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2s ease;
  will-change: transform;
  backface-visibility: hidden;
}

.slideshow-img video {
  backface-visibility: hidden;
  transform: translateZ(0);
}

.slideshow-img img,
.slideshow-img video {
  will-change: transform, opacity;
}

.slideshow-img img,
.slideshow-img video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  pointer-events: none;
}


.slide-left  { transform: translate3d(-100%, 0, 0); }
.slide-center{ transform: translate3d(0,     0, 0); }
.slide-right { transform: translate3d(100%,  0, 0); }

#loading-spinner {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  align-items: center;
  padding: 10px 15px;
  border-radius: 8px;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 9px solid rgba(1, 29, 156, 0.623);
  border-top: 8px solid rgb(0, 81, 255);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#dimOverlay {
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease;
  z-index: 999999;
}
