#top-clock {
  text-align: center;
  padding: 0.5rem;
  color: #fff;
}

#current-time {
  font-size: 2.8rem;
}

#current-date {
  font-size: 1.8rem;
}

/* Macro buttons */
#macro-grid-container {
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  width: 80vw;
  max-width: 100vmin;
  margin: 0 auto; 
}


.top-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.macro-btn {
  width: 100%;          
  aspect-ratio: 1 / 1;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 20%;
  border: 2px solid rgba(61, 61, 61, 0.644);
  overflow: hidden;
  padding: 0;
  transition: transform 0.05s ease-in-out;
}

.macro-btn:active {
  transform: scale(1.1); 
}

.macro-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Volume */
#audio-session-controls {
  padding-bottom: 5%;
}

#audio-session-controls .macro-btn {
  width: 65px; 
  height: 65px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#audio-session-controls .macro-icon {
  width: 55px;
  height: 55px;
  object-fit: contain; 
}

#audio-session-controls img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

#volume-session-icon {
  width: 55px;
  height: 55px;
}

/* Slider */
#volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 500px;
  height: 30px;
  background: #696969;
  border-radius: 10px;
  outline: none;
  overflow: hidden;
  position: relative;
}

/* Audio controls */
#audio-controls-wrapper {
  position: relative;
  height: 140px; 
  overflow: hidden;
}

#audio-session-controls,
#volume-slider-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#volume-slider::-webkit-slider-runnable-track {
  height: 30px;
  background: linear-gradient(to right, #ffffff var(--volume-fill, 50%), #696969 var(--volume-fill, 50%));
  border-radius: 10px;
}

#volume-slider::-moz-range-track {
  height: 30px;
  background: linear-gradient(to right, #ffffff var(--volume-fill, 50%), #696969 var(--volume-fill, 50%));
  border-radius: 10px;
}

/* Thumb */
#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
}

#volume-slider-view {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
}

/* Back button */
.back-btn {
  background-color: transparent !important;
  border: 3px solid rgba(61, 61, 61, 0.644);
  border-radius: 10px;
  color: #fff;
  padding: 10px 24px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: bold;
}