body {
  background-color: #ff0000;
  color: #fff;
}

.macro-btn {
  width: 100px;
  height: 100px;
  background-color: transparent;
  padding: 0;
  margin: 10px;
}

.macro-icon {
  width: 100px;
  height: 100px;
}

/* Media Section */
.media-container {
  left: 0;
  width: 100%;
  padding: 5%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.media-keys {
  display: flex;
  justify-content: space-between;
  padding-right: 20%;
  padding-left: 20%;
  font-size: 4rem;
}

.media-keys i {

  color: #E1E1E6;
  transition: opacity 0.2s ease-in-out;
}