body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-out;
}

body,
html {
  height: 100%;
  margin: 0;
  background: #222;
  color: #eee;
  font-family: "Space Grotesk", serif;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Swiping */
.swipe-left {
  transform: translateX(-100%);
}

.swipe-right {
  transform: translateX(100%);
}

body.show {
  opacity: 1;
}

@media (max-width: 1300px) {
  * {
    cursor: none;
  }
}